/* */

body {
  background-color: #f9dada;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  font-family: monospace;
  font-size: x-large;
}
